.head {
    display: flex;
    justify-content: space-between;
    background-color: purple;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.head h1 {
    margin: 2rem;
}

@media (max-width: 576px) {

   .head h1 {
        font-size: x-large;
        margin: 0.9rem 1rem 3rem 0.23rem;
        padding: 0.5rem;
    }
}
