.controls {
    margin: auto;
    margin-top: 8rem;
    width: 90%;
    max-width: 40rem;
    display: flex;
    height: 14rem;
    
}

.but {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

