.button {
    font-size: medium;
    padding: 0.8rem 2.2rem;
    border-radius: 30px;
    color: white;
    background-color: purple;
    border: 1px solid purple;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    cursor: pointer;
}

.button:hover,
.button:active {
    background-color: rgb(139, 57, 139);
    border: 1px solid rgb(200, 148, 200);
    transform: scale(1.05);
}

.button:disabled {
    background-color: rgb(216, 216, 216);
    border: transparent;
    color: rgb(77, 75, 75);
    cursor: not-allowed;
}

